$colors: (
    azul: #26547C,
    rosa: #EF476F,
    amarillo: #FFD166,
    aguamarina: #06D6A0,
    naranja: #ff914d,
    negrop: rgb(33, 33, 33),
    grisbg: #FFFCF9,
);

$font-sizes: (
    xxs: 0.9em,
    xs: 1.2em,
    s: 1.5em,
    m: 1.8em,
    l: 2.2em,
    xl: 3.5em,
    xxl: 4.5em,
);