footer {
    width: 100%;
    background-color: #f3c886;
        .foot-container {
            @include flex(row, space-evenly, center);
            padding: 20px;
                .cont-foot {
                    @include flex(row, space-between, center);
                    gap: 40px;
                        .icon-footer {
                            @include medidas(50px, auto);
                        }
                        img {
                            @include medidas(100px, auto);
                        }
                        p {
                            max-width: 400px;
                            font-size: map-get($font-sizes , xxs );
                        }    
                }
        }
        .copyrgt {
            background-color: map-get($colors , amarillo );
            font-size: 0.7em;
            padding: 10px;
            text-align: center;
        }       
}