.navbar {
    width: 100%;
    padding: 20px 16px;
    background-color: #06d69ed5;
    font-family: $font-parrafo;
    font-size: map-get($font-sizes , xs );
        .nav-logo {
            @include medidas(220px, auto);
        }
}
.collapse {
    @include flex(row, right, center);
}

